
.background {

	width: 100%;
	height: 100%;
	background: rgb(169,228,247); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,228,247,1) 0%, rgba(15,180,231,1) 50%, rgba(169,228,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,228,247,1)), color-stop(50%,rgba(15,180,231,1)), color-stop(100%,rgba(169,228,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 50%,rgba(169,228,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 50%,rgba(169,228,247,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 50%,rgba(169,228,247,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,228,247,1) 0%,rgba(15,180,231,1) 50%,rgba(169,228,247,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#a9e4f7',GradientType=0 ); /* IE6-9 */
	position: fixed;
	z-index: -100;
}

.main {

	margin-top: 8em;

}

header {

}

div.alert-box {
padding-left: 50px;

}

.textcw {
	color:white;
	font-weight: bold;
}

.textlbb {
	font-size: 18px;

}

.clearminwidth {
	min-width: 640px;
}

.navcustom {
	border-radius: 5px 5px 0 0;
}



.content {

	padding: 20px;
	padding-top: 8em;
	border-radius: 0 0 10px 10px;
	border-width: 5px;
	border-style:none double double;
	border-color: black;

	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	background: white;
	margin-bottom:8em;


}

.bigpanel {
	background: #F5FFFF;
	border-radius: 10px;
	min-height:400px;


}

.questionbox {


}

.logo {




	height: 256px;
width: 256px;
position: absolute;
top: -99px;
left: -106px;
z-index: 1;
-webkit-transform: rotate(-25deg);
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
background: white;



}

.lastslot{

	background-color: white;
}