
<nav class="top-bar">

  <ul>
    <li class="name"><h1><a href="#">Title</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>



      <section>
        <!-- Left Nav Section -->

        





        <!-- Right Nav Section -->
      <% if @current_user.guest == false %>
        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li class="has-dropdown">
            <a href="#">Hello</a>
            <ul class="dropdown">
              <li><label>Section Name</label></li>
              <li><a href="#" class="">Level 1</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li class="divider"></li>
              <li><label>Section Name</label></li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li><a href="#">Dropdown Option</a></li>
              <li class="divider"></li>
              <li><a href="#">See all &rarr;</a></li>
            </ul>
          </li>
        </ul>


      <% else %>

        <ul class="right">
          <li class="divider show-for-medium-and-up"></li>
          <li class="has-dropdown">
            <a href="#">Sign Up</a>
            <ul class="dropdown">
              <%= form_tag sessions_path do %>
                <li class="search"><%= text_field_tag :username, params[:username], :placeholder => "Your Username", :class => "buttontext" %></li>
                <li class="search"><%= text_field_tag :password, nil, :type => "password", :placeholder => "Password" %></li>
                <li class="has-button"><%= submit_tag "Login"%></li>
              <%end%>
            </ul>
          </li>
 <li class="divider show-for-medium-and-up"></li>
    <li class="name"><h1><a href="#">Title</a></h1></li>



        </ul>


        <%end%>

      </section>
    </nav>
